// colors

$black33: #212121;
$black66: #424242;
$black121: #797979;
$black235: #ebebeb;
$black245: #f5f5f5; 

$dmnblue: #0185d3;
$tableBar: #efebde;

// fonts 

$sans: 'Open Sans', Arial, sans-serif;
$serif: Merriweather, Georgia, serif;
