@import '../_variables.scss';
@import '../_mixins.scss';

/*
-------------------------------------------
BREAKOUT MODULES
-------------------------------------------
*/

.breakout__module {
  margin: 4.8rem auto;
  width: 95%;
  .breakout__grid {
    display: grid;
    grid-gap: 20px;
  }
  &.breakout--two .breakout__grid {grid-template-columns: repeat(2, 1fr);}
  &.breakout--three .breakout__grid {grid-template-columns: repeat(3, 1fr);}
  &.breakout--four .breakout__grid {grid-template-columns: repeat(4, 1fr);}
}
.breakout__module h4 {
  font-family: $sans;
  font-weight: bold;
  @include type(2.4rem, 3rem, 1.2rem);
}
.breakout__module img {
  margin-bottom: .3rem;
  width: 100%;
}
.breakout__module p {
  font-family: $sans;
  @include type(1.4rem, 1.8rem, 1.2rem);
  font-weight: 400;
}

@media (max-width: 740px) {
  .breakout__module {
    width: 100%;
    border-bottom: 1px solid $black235;
    border-top: 1px solid $black235;
    padding: 2.4rem 0;
    .breakout__grid {
      display: block;
    }
  }
  .breakout__module img {
    float: left;
    margin: 0 2.4rem 2.4rem 0;
    width: 50%;
  }
  .breakout__box:last-child {
    margin-bottom: 0;
  }
}
