@import '../_variables.scss';
@import '../_mixins.scss';

.chart__group {
  font-family: $sans;
}
.chart__chatter {
  margin-bottom: 1.2rem;
  h4 {
    @include type(2.4rem, 3rem, 1.2rem);
    font-weight: 700;
  }
  p {
    font-weight: 400;
    @include type(1.4rem, 1.8rem, 1.2rem);
  }
}
.chart__legend {
  margin-bottom: .6rem;
  ul li {
    @include type(1.3rem, 1.8rem, .6rem);
    display: inline-block;
    font-weight: 400;
    margin-right: 10px;
    &:before {
      @include psuedoElement(1.3rem, 1.3rem, relative);
      top: 0.2rem;
      display: inline-block;
      background-color: $chartBlue;
      margin-right: 5px;
    }
  }
}
p.chart__source {
  font-weight: 400;
  @include type(1.2rem, 1.5rem, .6rem);
}
p.chart__credit {
  font-weight: 400;
  @include type(1.2rem, 1.5rem, 0);
  text-align: right;
}
