#reporters-bios {
  border-top: 1px solid white;
  
  margin: 2.4rem auto 0;
  max-width: 650px;
  padding-top: 2.4rem;
}

.bio {
  display: grid;
  grid-template-columns: 7.5rem auto;
  grid-column-gap: 2rem;

  font-family: $sans;

  margin-bottom: 2.4rem;
  p {
    @include type(1.4rem, 1.8rem, .6rem);
  }

  ul {
    @include type(1.2rem, 1.5rem, 0);
    
    li {
      display: inline-block;
      margin: 0 1rem 0.6rem 0;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
      vertical-align: middle;
    }
  }
}

.bio-mug {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
}