@import '../_variables';
@import '../_mixins';

/*
-------------------------------------------
SLIDESHOWS
-------------------------------------------
*/


.slideshow {
  margin: 4.8rem auto;
  max-width: 1000px;
}
.slideshow h5 {
  font-family: $sans;
  color: $black66;
}
.slide-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slide {
  float: left;
  left: 0;
  position: absolute;
  top: 0;
  @include transition(all, .3s, ease-out);
  width: 100%;
}
.slide-button {
  background-color: white;
  cursor: pointer;
  display: block;
  height: 5rem;
  opacity: .8;
  position: absolute;
  top: 50%;
  @include transition(opacity, .3s, ease-out);
  width: 5rem;
  margin-top: -2.5rem;
}
.slide-button:hover {
  opacity: 1;
}
.next-button {
  right: 0;
}
.slide img {
  width: 100%;
}
.current {
  margin-left: 0;
  opacity: 1;
  position: relative;
}
.pre-slide {
  margin-left: 100%;
  opacity: 1;
}
.post-slide {
  margin-left: -100%;
  opacity: 0;
}

@media (max-width: 600px) {
  .slide-button {
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
  }
}
