@import '../_variables';
@import '../_mixins';

.subscribe-cta {
 width: 100%;
 max-width: $contentWidth;
 margin: 4.8rem auto;
 padding: 4.8rem 0;
 border-bottom: 1px solid $black215;
 border-top: 1px solid $black215;
 text-align: center;
 h4 {
   font-weight: bold;
 }
 p {
   font-family: $sans;
   @include type(1.4rem, 1.8rem, 2.4rem);
 }
 a {
   background-color: $black245;
   font-family: $sans;
   color: $black33;
   padding: 10px;
   @include type(1.6rem, 2.4rem, 0);
   @include transition(all, .25s, ease-out);
   border-radius:3px;
   border: 1px solid $black215;
   &:visited {
     color: white;
   }
   &:hover {
     background-color: $dmnblue;
     color: white;
     text-decoration: none;
   }
 }
}

.subscribed .subscribe-cta {
  display: none;
}
