<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->
	{%block custom_meta%}

	{%endblock%}
	<!-- End Custom Meta Data -->

	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>

	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	<link rel="stylesheet" type="text/css" href="http://interactives.templates.statics.s3.amazonaws.com/v1.0/css/share.css"/>
	<link rel="stylesheet" type="text/css" href="http://interactives.templates.statics.s3.amazonaws.com/v1.0/css/print.css" media="print"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,700italic%7CMerriweather:400,400italic" rel="stylesheet" type="text/css">

	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>


	<script type="text/javascript">
		WebFont.load({
		  google: { //change custom to google: if using google cdn font
		    families: ['Open+Sans', 'Merriweather'],
		  }
		});
	</script>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

<script type="text/javascript">

   document.writeln('<sc' + 'ript type="text/javascript" src="http://res.dallasnews.com/reg/js/tp_jsinclude.js' + '"></sc' + 'ript>');

</script>

	<link rel="stylesheet" type="text/css" href="css/dependency-bundle.css" />
	<link rel="stylesheet" type="text/css" href="css/styles-bundle.css" />
	{%block custom_head%}
	{%endblock%}



	<!--
	================================
	START AD CODE
	================================
	-->
	{%block ad%}

	{%endblock%}
	<!--
	================================
	END AD CODE
	================================
	-->

</head>
<body>

	<!-- Google Tag Manager DMN -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T45ZQL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script type="text/javascript" src="http://interactives.templates.statics.s3.amazonaws.com/v1.0/js/analytics.js"></script>
	<!-- end Google Tag Manager DMN -->
	<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>

	<header class="bg-black">
		<a class="logo" href="http://www.dallasnews.com" id="top"><span class="sr-only">The Dallas Morning News</span></a>
	</header>

	<article id="content">

	{%block content%}

		<section id="contentHeader">
			<img src="images/_defaultImage.jpg" alt="FILL THIS IN">
			<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
		</section>
		<!-- end contentHeader -->

		<section class="contentWell clearFix">

			<header id="storyHead">
				<h3>Label, if needed</h3>
				<h1>Main Headline</h1>
				<h2>Deck head goes in this spot here</h2>
			</header>
				<!-- end storyHead -->

			<div class="bylineBlock">
	    		<p>By <a target="_blank" href="mailto:emailaddresshere">Writer Name</a> | Staff Writer</p>
	    		<p>Published Month Date, Year</p>
   			</div>
    		<!-- end bylineBlock -->

      		<div class="shareComments shareCommentsTop">
				<ul id="share-bar1" class="width-auto-hack"></ul>
			</div>
			<!-- end shareComments -->

			<p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum tortor a eleifend sagittis. Quisque laoreet elit vitae turpis aliquet tincidunt. Nulla molestie vitae purus eget dignissim. Quisque blandit nibh lorem, non mollis velit rutrum ac. Pellentesque pharetra mattis luctus.</p>


			<section class="credits clearFix">
				<p>Author: <a href="mailto:emailaddress">Name</a></p>
				<p>Editor: <a href="mailto:emailaddress">Name</a></p>
				<p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
				<p>Photos: <a href="mailto:emailaddress">Name</a></p>
				<p>Graphics: <a href="mailto:emailaddress">Name</a></p>
				<p>Designer: <a href="mailto:emailaddress">Name</a></p>
			</section>
			<!-- end credits -->

			<section class="more clearFix">
				<h5>More from The Dallas Morning News</h5>
				<a class="clearFix" href="#">
					<img src="images/_defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
				<a class="clearFix" href="#">
					<img src="images/_defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
				<a class="clearFix" href="#">
					<img src="images/_defaultImage.jpg" alt="Fill this in">
					<h6>Story title goes here</h6>
					<p>Description of the story goes in this spot here</p>
				</a>
			</section>
			<!-- end more -->

      		<div class="shareComments">
				<ul id="share-bar2" class="width-auto-hack"></ul>
                <div id="comments"></div>
			</div>
			<!-- end shareComments -->

		</section>
		<!-- end contentWell -->

	{%endblock%}

	</article>

	<footer class="interactiveFooter">
		<a class="top" href="#top">Back to Top</a>
		<div class="terms-privacy">
			<a href="http://www.dallasnews.com/terms/">Terms of Service</a>
			<a href="http://www.dallasnews.com/privacy-policy/">Privacy Policy</a>
		</div>
		<p>©<span class="copyright"></span>, The Dallas Morning News Inc. All Rights Reserved.</p>
	</footer>

  	<script src="js/dependency-bundle.js"></script>
	<script type="text/javascript" src="js/scripts-bundle.js"></script>

	{%block custom_foot%}
	{%endblock%}



	{%block custom_social_meta%}
	<script type="text/javascript">
	var storyTitle = "{{shareTitle}}",
		storyURL = "{{url}}",
		leadText = "{{shareText}}",
		storyIMG = "{{imgURL}}",
		storyAuthor = "{{authors}}",
		twitterTag = "{{sectionTwitter}}",
		comments = true,
		share = true;
		OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
	</script>
	{%endblock%}

	<script type="text/javascript" src="http://interactives.templates.statics.s3.amazonaws.com/v1.0/js/commonInteractives.js"></script>
	<script type="text/javascript" src="http://res.dallasnews.com/resrsc/js/biomniture.js"></script>
	<script type="text/javascript" src="http://interactives.templates.statics.s3.amazonaws.com/v1.0/js/actionsInteractives.js"></script>

	<!-- START Parse.ly Include: Standard -->
	<div id="parsely-root" style="display: none">
		<div id="parsely-cfg" data-parsely-site="dallasnews.com"></div>
	</div>
	<script>
		(function(s, p, d) {
		var h=d.location.protocol, i=p+"-"+s,
		e=d.getElementById(i), r=d.getElementById(p+"-root"),
		u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
		:"static."+p+".com";
		if (e) return;
		e = d.createElement(s); e.id = i; e.async = true;
		e.src = h+"//"+u+"/p.js"; r.appendChild(e);
		})("script", "parsely", document);
	</script>
	<!-- END Parse.ly Include: Standard -->


</body>
</html>
