{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<meta name="parsely-page" id='parsely-page' content='{"title": "{{shareTitle}}", "link": "{{url}}", "image_url": "{{imgURL}}", "type": "post", "post_id": "{{id}}", "pub_date": "{{publishDate}}", "section": "{{section}}", "author": ["{{authors}}"], "tags": ["{{keywords|join('","')|safe}}"]}' />

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
<link rel="canonical" href="{{url}}" />
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = [];
if (jQuery(window).width() < 768)
{
var DFP_sitepage = "DMN/interactives";
DFPSlotSizes = [320,50]
var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
adSlot0.setTargeting("position", "Top");
adSlot0.addService(googletag.pubads());

/*
var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
adSlot1.setTargeting("position", "Top2");
adSlot1.addService(googletag.pubads());
*/

/*
var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
adSlot2.setTargeting("position", "Top2");
adSlot2.addService(googletag.pubads());
*/
}
else
{
var DFP_sitepage = "DMN/interactives";
 DFPSlotSizes = [[728,90],[970,30],[970,90],[970,250]]
var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
adSlot0.setTargeting("position", "Top");
adSlot0.addService(googletag.pubads());

/*
var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
adSlot1.setTargeting("position", "Top2");
adSlot1.addService(googletag.pubads());
*/

/*
var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
adSlot2.setTargeting("position", "Top2");
adSlot2.addService(googletag.pubads());
*/
 }
</script>
<script type="text/javascript">
googletag.pubads().enableSingleRequest();
googletag.pubads().enableSyncRendering();
googletag.enableServices();
</script>
{%endblock%}


{%block content%}
<section id="content-header">
	<img src="images/_defaultImage.jpg" alt="#" />
	<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
</section>
<!-- end contentHeader -->

<section class="content-well clearfix">

	<header id="story-head">
		<h3>Label, if needed</h3>
		<h1>Main Headline</h1>
		<h2>Deck head goes in this spot here</h2>
	</header>
		<!-- end storyHead -->

    <div class="byline-block">
        <p>By <a target="_blank" href="mailto:emailaddresshere">Writer Name</a> | Staff Writer</p>
        <p>Published Month Date, Year</p>
        <!-- <p>Updated Month, Date, Year</p> -->
    </div>
    <!-- end bylineBlock -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. I love the Weather & Opera section plagiarism Julian Assange syndicated process vs. product curmudgeon, attracting young readers cognitive surplus the audience knows more than I do discuss anonymity WikiLeaks hyperhyperlocal Arianna future scoop, Twitter topples dictators the medium is the message information overload natural-born blogger metered model Colbert bump Julian Assange CTR.</p>

    <p>column-inch trolls copyboy data visualization AOL afternoon paper shoot a photo attracting young readers, MinnPost but what's the business model Instagram fair use fourth estate morgue writing, The Work of Art in the Age of Mechanical Reproduction audience atomization overcome free as in beer Pictures of Goats section kitchen table of the future masthead.</p>

    {%include "adblock1.html" %}

    <!--
      use the above include with adblock2.html and adblock3.html to place adblocks 2 and 3, then delete this comment.
      it won't self-destruct, but it is cleaner
    -->

    <p>horse-race coverage copyboy the power of the press belongs to the person who owns one data visualization tweet Jeff Jarvis Patch Like button explainer, TechCrunch should isn't a business model copyright Romenesko WordPress Arianna Kindle Single Pictures of Goats section got drudged, gamification put the paper to bed the other longer Book Review The Work of Art in the Age of Mechanical Reproduction open newsroom Foursquare A.J. Liebling.</p>

    <p>Instagram Quora linkbait people formerly known as the audience bringing a tote bag to a knife fight YouTube RT syndicated the power of the press belongs to the person who owns one, Alberto Ibarguen The Work of Art in the Age of Mechanical Reproduction open newsroom The Weekender the medium is the message Dan Fleckner analog thinking future of context Instagram, David Foster Wallace reporting gutter Aron Pilhofer serendipity This Week in Review he said she said.</p>

    <p class="twitter-tag">Follow writer name on Twitter at <a href="urlhere">@twittertag.</a></p>


    <section class="credits clearfix">
        <p>Author: <a href="mailto:emailaddress">Name</a></p>
        <p>Editor: <a href="mailto:emailaddress">Name</a></p>
        <p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
        <p>Photos: <a href="mailto:emailaddress">Name</a></p>
        <p>Graphics: <a href="mailto:emailaddress">Name</a></p>
        <p>Designer: <a href="mailto:emailaddress">Name</a></p>
    </section>
	<!-- end credits -->

	<section class="more clearfix">
		<h5>Read more from The Dallas Morning News</h5>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
	</section>
	<!-- end more -->


    <div class="shareComments">
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->


</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{{authors}}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
</script>
{%endblock%}
